einops
ftfy
h5py
imageio==2.36.1
pytorch-lightning==1.5.3
regex
scikit-video
tqdm
transformers
six
blobfile
git+https://github.com/openai/CLIP.git
wav2clip
termcolor
pytorch-ignite
visdom
av==14.2.0
omegaconf
lxml==4.9.2
mpi4py
opencv-python-headless
ffmpeg==7.1.0